---
layout: default
---

<div class="w-full h-full md:overflow-scroll p-8 md:p-12">
    <div class="max-w-3xl mx-auto flex flex-col gap-8">

        <!-- Image -->
        {% if page.image %}
        <div class="w-48 h-48 mx-auto rounded-full overflow-hidden aspect-square">
            <img src="{{ site.baseurl }}/images/{{ page.image }}" alt="{{ page.title }}"
                class="w-full h-full object-cover">
        </div>
        {% endif %}

        <!-- Title -->
        <h1 class="font-gelica text-5xl text-center text-primary dark:text-red-500 font-bold">{{ page.title }}</h1>

        <!-- Content -->
        <div
            class="text-lg leading-loose [&>*]:mb-6 dark:text-gray-300 text-justify
                    [&_h1]:font-gelica [&_h1]:text-4xl [&_h1]:text-primary [&_h1]:font-bold [&_h1]:mt-12 [&_h1]:mb-6 [&_h1]:text-left
                    [&_h2]:font-gelica [&_h2]:text-3xl [&_h2]:text-primary [&_h2]:font-bold [&_h2]:mt-10 [&_h2]:mb-4 [&_h2]:text-left
                    [&_h3]:font-gelica [&_h3]:text-2xl [&_h3]:text-primary [&_h3]:font-bold [&_h3]:mt-8 [&_h3]:mb-4 [&_h3]:text-left">
            {{ content }}
        </div>

        <!-- Links Icons -->
        <div class="flex justify-center gap-12 mt-12 mb-24">

            {% if page.mail %}
            <a href="mailto:{{ page.mail }}"
                class="text-primary hover:text-orange-900 dark:text-red-400 dark:hover:text-red-200 transition transform hover:scale-110"
                title="Email" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-12 h-12">
                    <path d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                    <path
                        d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                </svg>
                <span class="sr-only">Mail</span>
            </a>
            {% endif %}

            {% if page.my_web %}
            <a href="{{ page.my_web }}"
                class="text-primary hover:text-orange-900 dark:text-red-400 dark:hover:text-red-200 transition transform hover:scale-110"
                title="Web" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-12 h-12">
                    <path fill-rule="evenodd"
                        d="M2.25 5.25a3 3 0 013-3h13.5a3 3 0 013 3V15a3 3 0 01-3 3h-3v.257c0 .597.237 1.17.659 1.591l.621.622a.75.75 0 01-.53 1.28h-9a.75.75 0 01-.53-1.28l.621-.622a2.25 2.25 0 00.659-1.59V18h-3a3 3 0 01-3-3V5.25zm1.5 0v9.75a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5V5.25a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5z"
                        clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Web</span>
            </a>
            {% endif %}

            {% if page.my_blog %}
            <a href="{{ page.my_blog }}"
                class="text-primary hover:text-orange-900 dark:text-red-400 dark:hover:text-red-200 transition transform hover:scale-110"
                title="Blog" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-12 h-12">
                    <path
                        d="M11.25 4.533A9.707 9.707 0 006 3a9.735 9.735 0 00-3.25.555.75.75 0 00-.5.707v14.25a.75.75 0 001 .707A8.237 8.237 0 016 18.75c1.995 0 3.823.707 5.25 1.886V4.533zM12.75 20.636A8.214 8.214 0 0118 18.75c.966 0 1.89.166 2.75.47a.75.75 0 001-.708V4.262a.75.75 0 00-.5-.707A9.735 9.735 0 0018 3a9.707 9.707 0 00-5.25 1.533v16.103z" />
                </svg>
                <span class="sr-only">Blog</span>
            </a>
            {% endif %}

        </div>
    </div>
</div>